* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-family: "Open Sans", sans-serif;
}

/*   header   */

header {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

/* main */

main {
  background-color: black;
  color: white;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}