* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-family: "Open Sans", sans-serif;
}

/*   header   */

header {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  font-weight: bold;
}

header a {
  text-decoration: none;
  color: black;
  
}

header a:hover{
  color: #0282f9;
}

/* main */

main {
  background-color: black;
  color: white;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer */

.container-icone {
  background-color: #0282f9;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.container-icone nav ul {
  list-style-type: none;
  display: flex;
  gap: 100px;
  align-items: center;
}

.container-icone nav ul li img {
  margin-right: 8px;
  width: 50px;

}

.container-icone nav ul li span {
  color: white;
}

.container-icone nav ul li {
  display: flex;
  align-items: center;
}