* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

:root{
  font-family: "Open Sans", sans-serif;
}

/*   header   */

header {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  font-weight: bold;
}

header ul li:hover{
  color:#0282f9;
  border-bottom: 4px solid;
  margin-bottom: -4px;
}

header a {
  text-decoration: none;
  color: black;
  
}

header a:hover{
  color: #0282f9;
}

/* main */

main {
  background-color: black;
  color: white;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img-jumbo {
  height: 400px;
  width: 100%;
}

/* footer */

.container-icone {
  background-color: #0282f9;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.container-icone nav ul {
  display: flex;
  gap: 100px;
  align-items: center;
}

.container-icone nav ul li img {
  margin-right: 8px;
  width: 50px;

}

.container-icone nav ul li span {
  color: white;
}

.container-icone nav ul li {
  display: flex;
  align-items: center;
}

/* secondo container*/

.container-liste {
  background-image: url(/img/footer-bg.jpg);
  display: flex;
  padding-left: 100px;
  gap: 50px;
  position: relative;
  background-size: cover;
  
}

.position-dc {
  position: absolute;
  right: 150px;
  top: -35px;
  overflow: hidden;
  width: 30%;
}

.container-liste nav ul h3 {
  color: white;
  height: 20px;
  padding: 20px 0px 30px 0px;
}

.container-liste nav ul {
  margin-bottom: 50px;
}

.container-liste nav ul li a {
  color: white;
  opacity: 0.5;
  text-decoration: none;
  height: 12px;
  margin-top: 10px;
}

.container-social {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  background-color: #303030;
}

.btn {
  background-color: #303030;
  color: white;
  padding: 10px;
  border-color: #0282f9;
}

.btn a {
  text-decoration: none;
  color: white;
}

.container-social nav ul h2 {
  color: #0282f9;
}

.container-social nav ul {
  display: flex;
  gap: 10px;
  align-items: center;
}